.profile-bar-container {
  background-color: rgb(216, 216, 216);
  height: 100vh;
  width: 25%;
  padding: 20px;
}
.profile-card {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 5px 20px;
}
.profile-card-around {
  justify-content: space-around;
}
.profile-card-left {
  justify-content: left;
}
.profile-card-left img {
  margin-right: 15px;
}
.profile-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-set > Button {
  font-size: 20px;
  height: 50px;
  width: 200px;
}
.profile-logout-button {
  background: none;
  border: none;
  border-radius: 50%;
}
.profile-logout-button:hover {
  background-color: rgb(255, 175, 175);
}
.profile-logout-button img {
  height: 40px;
  width: 40px;
}
.profile-pill-container {
  display: flex;
  flex-direction: column;
}
.profile-pill {
  background-color: rgb(217, 255, 129);
  width: fit-content;
  padding: 1px 20px;
  border-radius: 30px;
}
