.activity-card {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  color: white;
}
.activity-card-green {
  background-color: rgb(74, 190, 29);
}
.activity-card-blue {
  background-color: rgb(0, 204, 255);
}
.activity-card-yellow {
  background-color: rgb(255, 187, 0);
}
.activity-card-red {
  background-color: rgb(255, 76, 76);
}
.activity-card-transperentGreen {
  background-color: rgba(217, 255, 82, 0.5);
}
.activity-card-25 {
  width: 25%;
  height: 150px;
}
.activity-card-50 {
  width: 50%;
  height: 300px;
}
