
.input-container{
  position: relative;
}
.input-container input {
  border: none;
  border-bottom: 2px solid gray;
  height: 35px;
  width: 300px;
  margin: 10px;
}
.input-container .small-label{
  position: absolute;
  left: 0px;
  top: -5px;
  font-size: 10px;
}
.input-container .placeholder{
  position: absolute;
  left: 14px;
  top: 25px;
  color: rgb(100, 95, 95);
  font-size: 15px;
}

.button {
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  height: fit-content;
}
.button:hover {
  background-color: rgb(167, 238, 1);
}
.button-yellow {
  background-color: rgb(179, 255, 0);
}
.button-white {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
