.profile-form-bg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.profile-form-container {
  background-color: white;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
}
.profile-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-form-header img {
  height: 50px;
  width: 50px;
}
.profile-form-header button {
  background: none;
  border: none;
  font-weight: 900;
  border-radius: 50%;
  font-size: 20px;
}
.profile-form-header button:hover {
  background-color: rgb(255, 101, 101);
}
.profile-form-tabs {
  background-color: rgb(227, 255, 66);
  border-radius: 8px;
}
.tab-switch {
  width: 50%;
  background-color: rgb(217, 255, 0);
  border: none;
  border-radius: 8px;
}
.tab-switch-active {
  width: 50%;
  background-color: rgb(188, 221, 0);
  border: none;
  border-radius: 8px;
  height: 30px;
}

.profile-form-buttons {
  display: flex;
  justify-content: space-between;
}
