.loading-screen {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}
.loading-screen-loader {
  font-size: 500px !important;
  animation: spin 3s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
